@import url("../css/style.css");

table {
    border: 1px solid #213550;
    color: #213550;
    text-align: center;
}

table .especialidade {
    text-align: left;
}

table thead th {
    background-color: #213550;
    color: #fff;
}

table #tbodyContatos tr:nth-child(even) td {
    background-color: #c5e4f0;
}

table #tbodyContatos tr:hover td {
    background-color: #8bbccf;
}